*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

:root {
    --scale: 4;
    --width: calc(146px * var(--scale));
    --height: calc(180px * var(--scale));
}

@font-face {
    font-family: Minecraft;
    src: url("../fonts/Minecraft.otf");
}

body {
    font-family: Minecraft;
    font-size: calc(8.4px * var(--scale));
}

button {
    display: block;
    font-size: 0;
    background: none;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    -webkit-app-region: no-drag;
}

#book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: transparent url("../images/justbook.png") no-repeat;
    image-rendering: pixelated;
    background-size: 100% 100%;
    width: var(--width);
    height: var(--height);
    padding: calc(12px * var(--scale)) calc(15px * var(--scale));
    -webkit-app-region: drag;
}

#state_buttons {
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: calc(2px * var(--scale));
    top: calc(3px * var(--scale));
    width: 85%
}

#state_buttons button {
    width: calc(3px * var(--scale));
    height: calc(3px * var(--scale));
}

#state_buttons #save {
    background-image: url("../images/save.png");
}

#state_buttons #load {
    background-image: url("../images/save.png");
}

#state_buttons #minimize {
    margin-left: auto;
    background-image: url("../images/minimize.png");
}

#state_buttons #close {
    background-image: url("../images/close.png");
}

#header {
    width: 100%;
    text-align: right;
    user-select: none;
    -webkit-app-region: drag;
}

#textbox {
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    float: left;
    overflow-y: hidden;
    word-wrap: break-word;
    -webkit-app-region: no-drag;
}

#arrows {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 75%;
}

#arrows button {
    width: calc(18px * var(--scale));
    height: calc(10px * var(--scale));
}

#arrows #left {
    background-image: url("../images/arrow_l.png");
}

#arrows #left:hover {
    background-image: url("../images/arrow_l_h.png");
}

#arrows #right {
    background-image: url("../images/arrow_r.png");
}

#arrows #right:hover {
    background-image: url("../images/arrow_r_h.png");
}